[Unit]
Description=Snapcast client
Wants=avahi-daemon.service
After=network-online.target time-sync.target sound.target avahi-daemon.service

[Service]
# Create a user in the audio group
DynamicUser=yes
User=snapclient
SupplementaryGroups=audio

# Store state in /var/lib/<name>
StateDirectory=@STATE_DIR@
Environment=HOME=/var/lib/@STATE_DIR@

# Required for alsalib. Otherwise we get:
# ALSA lib pcm_direct.c:2048:(snd1_pcm_direct_parse_open_conf) The field ipc_gid must be a valid group (create group audio)
BindReadOnlyPaths=/etc/group

Environment=SNAPCLIENT_OPTS="@DEFAULT_SNAPCLIENT_OPTS@"
ExecStart=/bin/snapclient --logsink=system $SNAPCLIENT_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
